/* First section */

main section:first-of-type {
    background-color: white;
    padding: 1rem;
    text-align: center;
    border-radius: 5px;
}

main h1 {
    font-size: 2rem;
}

/* Second section */
main section:nth-child(2) {
    display: flex;
    /*justify-content: space-between;*/
    margin: 1%;
    background-color: white;
}


@media screen and (max-width: 1280px) {
    main section:nth-child(2) {
        flex-flow: row wrap;
    }

    aside#highlightedProducts {
        width: 100%;
    }
}

/* Articles */

.articleContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
    gap: 2rem;
}

.articleImage {
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.articleImage img {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;

}

.articleCard {
    background: white;
    border-radius: 20px;
    transition: 0.3s;
}

.articleCard:hover {
    box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
    cursor: pointer;
}

.articleContent {
    padding: 2rem;
}

.articleContent .cardTitle {
    margin: 1rem 0;
    color: #22447b;

}

.articleContent .cardDesc {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #6b82a7;
    margin: 0;

}

@media screen and (min-width: 768px) {

    .articleCard {
        display: grid;
        grid-template-rows: 220px 1fr;
    }


}

@media screen and (max-width: 320px) {
    .articleContainer {
        grid-template-columns: none;
    }
}

@media screen and (min-width: 1024px) {

    /* In case more elements are added to the front page */
    .articleContainer {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .articleCard {
        flex: 0 1 30%;
    }


}

/* Left aside */
aside#highlightedProducts {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    flex-direction: column;
}

/* Modal */

.modal-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    transition: opacity 0.3s ease;
}

.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: #fff;
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal h1 {
    margin: 0;
}

.modal p {
    opacity: 0.7;
    font-size: 14px;
}

#modalMain {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-bottom: 1px solid rgb(197, 197, 197);
    padding-bottom: 50px;
}

#modalMain img:first-child {
    width: 25%;
    max-width: 350px;
    min-width: 290px;
    flex-basis: 50%
}

#productDescription {
    min-width: 280px;
    width: 18%;
    flex-basis: 50%;
    margin-left: 50px
}